In [ ]:
%matplotlib inline
import pandas as pd

In [ ]:
titles = pd.read_csv('data/titles.csv')

### How many movies are listed in the titles dataframe?

### What are the earliest two films listed in the titles dataframe?

### How many movies have the title "Hamlet"?

### How many movies are titled "North by Northwest"?

### When was the first movie titled "Hamlet" made?

### List all of the "Treasure Island" movies from earliest to most recent.

### How many movies were made in the year 1950?

### How many movies were made in the year 1960?

### How many movies were made from 1950 through 1959?

### In what years has a movie titled "Batman" been released?